<div class="header">
    <h1><a href="/">ComiCan</a></h1>
    <nav>
        
        <% if (isLoggedIn) { %>
            
            <p>Logged in as: <a href="/profile" class="profile-link"><%= currentUser.email  %></a><br></p>
            
            
            <form action="/logout?_method=delete" method="post">
                <button id="logout-btn">Logout</button>
            </form>
            <a href="/share">share</a>
            
            <% } else { %>
                <h4><a href="/login">Login</a></h4>
                <%}%>
            
    <br>            
    
</nav>
</div><!--header-->