

<div class="all-posts">



    <% for (let post of posts) {%>    
            
            
            <h2>
                <a href="/posts/<%= post.id %>">
    
                
                <%= post.title%> 
                

            </a></h2>
            
    <%}%>
    

</div>