<% for (let image of images) {%> 
        
        <a href="<%= image.file_path  %>">
        <img src="<%= image.file_path  %>" alt="">
        </a>
<%}%>

<!-- //turn to link and redirect to big ass view mode -->