<br>
<h2>share your work</h2>
<br>
<form action="/posts" method="post">
    <label for="">title</label>
    <input type="text" name="title">

    <label for="">description</label>
    <input type="text" name = 'description'>


    <button>share</button>

</form>
